/* Styling only */
body {
  margin: 0;
  
}

.wrapper {
  background-color: #333333;
  color: #444;
  padding: 20px;

  height: 90vh;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
  
}

.item {
  background-color: #3092d7;
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 3em;
  display: grid;
  
}

/* Layouting only  (your work)*/
.a{
  display: grid;
  grid-column: span 3;
  
}
.b{
  display: grid;
  grid-row: span 2;
}
.c{
  display: grid;
  grid-column: 2;

}
.e{
  display: grid;
  grid-column: 2/4;
}
.f{
  display: grid;
  grid-column: span 3;
}

 
 